:root {
    --color-scheme-background:white;
    --color-scheme-text-color:black;

    --mdc-theme-primary:black;
    --mdc-theme-secondary:#777;
    --mdc-theme-on-primary:white;
    --mdc-theme-on-secondary:yellow;
}

@media (prefers-color-scheme: light) {
    :root {
	/* Keep the default values. */
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-scheme-background:black;
        --color-scheme-text-color:white;
	--mdc-theme-primary:white;
	--mdc-theme-secondary:yellow;
	--mdc-theme-on-primary:black;
	--mdc-theme-on-secondary:#777;
    }
}

body {
    background: var(--color-scheme-background);
    color: var(--color-scheme-text-color);
}

label, input {
    display: inline-block;
}

input {
    position: relative;
    float: right;
    right: 0;
}

div {
    padding-bottom: 10px;
}

svg {
    border: solid #999 1;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-heigth: 300px;
    margin-top: 5%;
    margin-left: 5%;
}
