body {
  color: white;
  background-color: black;
}

label, input {
    display: inline-block;
}

input {
    position: relative;
    float: right;
    right: 0;
}

div {
    padding-bottom: 10px;
}

svg {
    border: solid #999 1;
    width: 100%;
    height: 100%;
}
